* {box-sizing: border-box;}
html{border: 20px solid black; outline-style: solid; outline-color: black; }
body{font-family: 'Roboto', sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}
p{font-weight: normal;}
.logo{
  float: left;
}
html, body{
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}
#image1, #image2, #image3{
  height: 100%; width: 100%;
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* Next & previous buttons */
 .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 20px;
  float: right;
  border-radius: 3px 0 0 3px;
} 

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

nav {
  
  position: relative;
    padding: 8px;
    background-size: contain;
}

nav ul {
  height: 100%; width: 100%;
    list-style-type: none;
    padding: 8px;
    margin: 0;
    overflow: hidden;
    
}
nav ul a {
  text-decoration: none;
  color: #555;
}
ul li {
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}
nav ul li a:hover {color: red;}
/* Dropdown Button */
.dropbtn {
    font-size: 16px;
    border: none;
    font-family: sans-serif;
    color: #555;
    padding: 0 16px;
    margin: 8px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    background-color: inherit;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: fixed;
    min-width: 160px;
    z-index: 1;
    color: #555;
    text-align: left;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    text-decoration: none;
    display: block;
    color: #555;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    color: red;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {color: red;}

  button{     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;   
    color: #555;
    padding: 0 16px;
    margin: 8px;
    transition: 0.3s;
    font-size: 20px;    
  }
.bottom{
  background-color: brown;
  height: 100%; width: 100%;
}

table img{
  height: 100%; width: 100%;
}
.bottom{
  background-color: rgb(94, 47, 25);
  text-align: center;
}
  footer, a{
    color: white;
    text-decoration: none;
  }
  table{
    height: 100%; width: 100%;
    text-align: center;
    align-content: center;
    align-self: center;
    color: black;
  }
  table img{
    height: 75%;
    width: 75%;
  }
  th{
    text-align: center;
  }
  .footertext{
    font-size: 12px;
  }
  iframe{
    position: relative;
    width: 350px;
    height: 350px;
    border: 0;
  }
  .saanich{
    float: top left;
    width: 350px;
    height: 350px;
  }
  .burgers{
    float: top right;
    width: 350px;
    height: 350px;
  }
  .comingsoon{
    float: top right;
  }
  