* {box-sizing: border-box;}
html{border: 20px solid black; outline-style: solid; outline-color: black; }
body{font-family: 'Roboto', sans-serif; background-color: #99c2ff;}
.mySlides {display: none;}
img {vertical-align: middle;}
p{font-weight: normal;}
header{
  background-color: white;
}
.logo{
  float: left;
}
html, body{
  margin: 0;
}
body{
  margin-bottom: -12px;
}
h1{
  font-size: 32px;
  text-align: center;
}
h3{
  text-decoration: none;
  font-weight: normal;
}
/* Slideshow container */
.slideshow-container {
  position: relative;

}
#image1, #image2, #image3{
  max-height: 100%; width: 80%; height: 55%;
  margin-left: 10%;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* Next & previous buttons */

 .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0px;
  float: right;
  border-radius: 3px 0 0 3px;
} 

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

nav {
  position: relative;
    padding: 8px;
    background-size: contain;
    overflow: auto;
}

nav ul {
    list-style-type: none;
    padding: 8px;
    margin: 0;
    overflow: hidden;
}
nav ul a {
  text-decoration: none;
  color: #555;
}
ul li {
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}
nav ul li a:hover {color: red;}
/* Dropdown Button */
.dropbtn {
    font-size: 16px;
    border: none;
    font-family: sans-serif;
    color: #555;
    padding: 0 16px;
    margin: 8px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    background-color: inherit;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    padding-right: 2em;
    display: none;
    position: fixed;
    min-width: 160px;
    z-index: 1;
    color: #555;
    text-align: left;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    text-decoration: none;
    display: block;
    color: #555;
    background-color: white;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    padding-left: 1em;
    color: white;
    background-color: rgb(187, 175, 255);
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {color: red;}

  button{     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;   
    color: #555;
    padding: 0 16px;
    margin: 8px;
    transition: 0.3s;
    font-size: 20px;    
  }
  button:active{
    border:2px blue solid;
  }
.bottom{
  background-color: #ffff00;
  text-align: center;
}
  footer, a{
    color: black;
    text-decoration: none;
  }
.saanichheading, .saanichcontent{
  /*padding-left: 250px;*/
  padding-left: 2em;
}
.millstreamheading, .millstreamcontent{
  padding-right: 2em;
}
  table{
    table-layout: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    align-self: center;
    color: black;
  }
  
  .footertext{
    font-size: 12px;
    text-align: center;
  }
  iframe{
    position: relative;
    width: 350px;
    min-width: 10%;
    height: 350px;
    border: 0;
  }
  .contactTable, table, th, tr, p, img, iframe{
    max-width: 100%;
    max-height: 100%;
  }
  .saanich, .comingsoon{
    width: 508px;
    height: 333px;
  }

  .facebook{
    height: 75px;
    width: 75px;
  }
  input{
    padding: 1em;
    border: 2px solid black;
    color: blue;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    align-content: center;
  }
  input:hover{
    background-color: white;
  }
  input:active{
      border:2px blue solid;
  }
  sub{
    font-size: 11px;
    font-weight: normal;
  }

  h2, h2 img{
    text-align: center;
    align-content: center;
  }

  /* Picture Formatting */
  div.gallery {
    margin-top: -21px;
    margin-bottom: -21px;
    border: 10px linear-gradient(#00bbdd,#0033dd);
    background-image: linear-gradient(#00bbdd,#0033dd);
    vertical-align: baseline;
    
    
  }
  div.pictures {
    width: 90%;
    content: "";
    clear: both;
    display: table;
    
  }
  div.pictures:hover {
    width: 100%;
  }

  div.pictures img {
    height: auto;
  }

  div.desc {
    padding: 1px;
    text-align: center;
  }

#hoursdisplay {
  width: 10%;
  padding: 5px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 2px;
  padding-right: 20px;
}

#hoursdisplay p {
  font-family: fantasy;
}

li p {
    padding-right: 40px;
}